---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';

---


<Layout title="Autofletes Franco 🚛">

	<main>
		<Header />
		<h1 class="text-center text-7xl font-extrabold">Autofletes
			<span class="block">Franco</span></h1>
	</main>
</Layout>

